<canvas #myCanvas (click)="onCanvasClick($event)" class="map-area-canvas" width="800" height="800" style="border-style:solid;"></canvas>
<app-map-table [signs]="signs"></app-map-table>

<div #myActionGroup class="btn-group" role="group" aria-label="Basic example">
    <button (click)="onAddButtonClick()" [hidden]="addButtonHidden()" type="button" class="btn btn-secondary">Add</button>
    <button (click)="onEditButtonClick()" [hidden]="editButtonHidden()" type="button" class="btn btn-secondary">Edit</button>
    <button (click)="onDeleteButtonClick()" [hidden]="deleteButtonHidden()" type="button" class="btn btn-secondary">Delete</button>
</div>

<app-map-sign #myMapSigns *ngFor="let sign of signs"
[sign]="sign"
(clickedSign)="onSignClick($event)"></app-map-sign>
