<h3 style="text-align: center;">Map Table ({{ signs.length }} signs)</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Station#</th>
            <th scope="col">Sign#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Move up</th>
            <th scope="col">Move down</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sign of signs; let i=index;">
            <th scope="row">{{ sign.mapIndex + 1}}</th>
            <td> {{ sign.signObj["id"] }} </td>
            <td> {{ sign.signObj["name"] }} </td>
            <td class="table-sign-td">
                <app-map-sign [sign]="sign" [useMapLocation]="false"></app-map-sign>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="onUpArrowClick(i)">
                    <span class="glyphicon glyphicon-arrow-up"></span> <strong>&uarr;</strong> 
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="onDownArrowClick(i)">
                    <span class="glyphicon glyphicon-arrow-down"></span> <strong>&darr;</strong>
                </button>
            </td>
        </tr>
    </tbody>
</table>