/* You can add global styles to this file, and also import other style files */

.app-map-area {
    margin-left: 100px;
    min-width: 100px;
    display: flex;
    float: left;
}

.sign-picker {
    margin: 10px;
    max-width: 400px;
    display: block;
    float: right;
}

.sign-add-btn {
    float: right;
}

.map-area-canvas {
    margin-left: 20px;
    margin-bottom: 20px;
}

.map-sign-div {
    width: 100px;
    border-style: solid;
    position: absolute;
}