/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.container {
    display: flex;
}

.app-map-area {
    display: inline-flex;
    float: left;
}

.map-area-canvas {
    margin-left: 20px;
    margin-bottom: 20px;
}

.map-sign-div {
    border-style: dotted;
    border-width: 1px;
    border-color: lightgray;
}