/* You can add global styles to this file, and also import other style files */
.map-maker {
    map-area {
        min-width: 100px;
        display: flex;
        float: left;
    }
}
.sign-picker {
    margin: 10px;
    max-width: 400px;
    display: block;
    float: right;
}

.sign-add-btn {
    float: right;
}